.sidenav-container {
  height: calc(100vh - 64px);
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.chart-card {
  flex: 1 1 300px;
  min-width: 300px;
}

mat-sidenav {
  transition: transform 300ms ease-in-out !important;
}

mat-sidenav {
  background: linear-gradient(to bottom, #283593, #5c6bc0);
  color: white;
}

mat-sidenav ::ng-deep .mat-list-item {
  color: white;
}

mat-sidenav ::ng-deep .mat-icon {
  color: white;
}

mat-sidenav ::ng-deep .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

mat-sidenav ::ng-deep .mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  border-left: 4px solid #fff;
}



@media (max-width: 600px) {
  .dashboard-wrapper {
    padding: 8px;
  }
  .dashboard-cards,
  .dashboard-charts {
    flex-direction: column !important;
    gap: 8px !important;
  }
  .dashboard-card,
  .chart-card,
  mat-card {
    min-width: 0 !important;
    width: 100% !important;
    margin-bottom: 8px;
  }
  app-table,
  app-dashboard,
  app-cards,
  app-charts {
    display: block;
    width: 100%;
  }
}
